<div class="container">

  <form class="form-signin" action="" method="POST" role="form">
    <h2 class="form-signin-heading">Đăng nhập Admin</h2>
    <div class="login-wrap">
      <input type="text" class="form-control" name="Username" placeholder="Username" required>
      <p class="help-block Username-null">Vui lòng điền thông tin vào đây!</p>
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>

      <input type="password" class="form-control" name="Password" placeholder="Password">
      <p class="help-block Password-null">Vui lòng điền thông tin vào đây!</p>
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>

      <button class="btn btn-lg btn-login btn-block" type="submit">Đăng nhập</button>
      <div class="registration">
        Bạn chưa có tài khoản Admin?
        <a class="" href="/signUpAdmin">
          Tạo tài khoản
        </a>
      </div>

    </div>
  </form>

</div>

{{#if showError}}
  <script type="text/javascript">
          swal("Đăng nhập thất bai! Username hoặc Password không đúng!", {
            icon: "error",
          });            
  </script>
{{/if}}