<div class="container">

  <form class="form-signin" action="/loginAdmin" method="POST" role="form">
    <h2 class="form-signin-heading">Tạo tài khoản Admin</h2>
    <div class="login-wrap">
      <span class="pull-left">Nhập username:</span>
      <input type="text" class="form-control" placeholder="Username" autofocus required>
      <span class="pull-left">Nhập password:</span>
      <input type="password" class="form-control" placeholder="Password"required>
      <span class="pull-left">Nhập lại password:</span>
      <input type="password" class="form-control" placeholder="Re-Password"required>
      <span class="pull-left">Nhập họ và tên:</span>
      <input type="password" class="form-control" placeholder="Họ và tên"required>
      <span class="pull-left">Nhập email:</span>
      <input type="password" class="form-control" placeholder="Email"required>
      <button class="btn btn-lg btn-login btn-block" type="submit">Đăng nhập</button>
      <div class="registration">
        Bạn đã có tài khoản Admin?
        <a class="" href="/loginAdmin">
          Đăng nhập
        </a>
      </div>

    </div>
  </form>

</div>