<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="/assets/jquery-3.1.1.min.js"></script>
  <script src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/checkout.css">
  <link rel="stylesheet" href="/assets/css/checkout2.css">
  <link rel="stylesheet" href="/assets/css/responsiveCheckout.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/hover/css/hover-min.css">
  <link rel="icon" href="/image/car.ico">
  {{{_sections.title}}}
</head>

<body>
  {{{body}}}
  <script type="text/javascript" src="/assets/js/checkout.js"></script>
  <script type="text/javascript" src="/assets/fontawesome-all.js"></script>
</body>

</html>
