.sortPagiBar {
  background: #ebebeb;
  padding: 10px;
  margin-bottom: 30px;
}

.filterForm select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 0px;
  background-image: url("./image/ico-select.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #fff !important;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  font-size: 1em;
  outline: none;
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
  display: block;
  border: 0;
}

.products-view .product-box {
  text-align: left;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.products-view .product-box .product-thumbnail>a {
  display: block;
  width: 100%;
}

.products-view .product-box .product-thumbnail a img {
  width: 100%;
  height: auto;
}

.products-view .product-box .product-info {
  z-index: 10;
  position: relative;
  padding: 15px 0;
  border-bottom: solid 1px #ebebeb;
}

.products-view .product-box .product-name {
  margin: 0;
}

.products-view .product-box .product-name a {
  color: #555555;
  text-decoration: none;
}

.aside-collection h2 {
  color: #fff;
  background-color: #00a2d1;
  font-size: 16px;
  padding: 17px 15px;
  font-weight: 700;
  margin: 0;
}

.list-cate, .list-type {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

.aside-collection {
  margin-bottom: 30px;
}

.aside-collection .list-cate li, .aside-collection .list-type li {
  line-height: 55px;
  border-bottom: solid 1px #363636;
  background-color: #2a2a2a;
  padding: 0 15px;
}

.aside-collection .list-cate li:hover, .aside-collection .list-type li:hover {
  background-color: #404040;
}

.aside-collection .list-cate li a::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 54px;
  vertical-align: middle;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .5;
}

.aside-collection .list-cate li:nth-of-type(1) a::before {
  background-image: url("./image/logo-small/icon1-min.png");
}

.aside-collection .list-cate li:nth-of-type(2) a::before {
  background-image: url("./image/logo-small/icon2-min.png");
}

.aside-collection .list-cate li:nth-of-type(3) a::before {
  background-image: url("./image/logo-small/icon3-min.png");
}

.aside-collection .list-cate li:nth-of-type(4) a::before {
  background-image: url("./image/logo-small/icon4-min.png");
}

.aside-collection .list-cate li:nth-of-type(5) a::before {
  background-image: url("./image/logo-small/icon5-min.png");
}

.aside-collection .list-cate li:nth-of-type(6) a::before {
  background-image: url("./image/logo-small/icon6-min.png");
}

.aside-collection .list-cate li:nth-of-type(7) a::before {
  background-image: url("./image/logo-small/icon7-min.png");
}

.aside-collection .list-cate li:nth-of-type(8) a::before {
  background-image: url("./image/logo-small/icon8-min.png");
}

.aside-collection .list-cate li:nth-of-type(9) a::before {
  background-image: url("./image/logo-small/icon9-min.png");
}

.aside-collection .list-cate li:nth-of-type(10) a::before {
  background-image: url("./image/logo-small/icon10-min.png");
}

.aside-collection .list-cate li:nth-of-type(11) a::before {
  background-image: url("./image/logo-small/icon11-min.png");
}

.aside-collection .list-cate li:nth-of-type(12) a::before {
  background-image: url("./image/logo-small/icon12-min.png");
}

.aside-collection .list-cate li:nth-of-type(13) a::before {
  background-image: url("./image/logo-small/icon13-min.png");
}

.aside-collection .list-cate li a, .aside-collection .list-type li a {
  color: #c7c7c7;
  display: block;
  text-decoration: none;
}

.products-view .pagination {
  margin: 24px 0;
}

.products-view .pagination li {
  display: inline;
}

.pagination .page-link {
  float: left;
  margin: 2.5px;
  margin-left: 2.5px;
  width: 40px;
  background: #fff;
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 40px;
  font-size: 1em;
  line-height: 40px;
  padding: 0;
  line-height: 40px;
  color: #252525;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-decoration: none;
}

.pagination > .active {
  background-color:  #00a2d1;
  border-color: #00a2d1;
}

.pagination > .active > a {
  background-color:  #00a2d1 !important;
  border-color: #00a2d1 !important;
  cursor: pointer !important;
}

.pagination > .active > a:hover {
  color: #00a2d1 !important;
  background-color: white;
  border-color: #00a2d1 !important;
}
