/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Apr, 2018, 11:53:00 PM
    Author     : Pavilion
*/

.vertical-menu a {
    background-color: #fff;
    color: black;
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}

.vertical-menu a:hover {
    background-color: #555;
    color: white;
}

.vertical-menu a.active {
    background-color: #4CAF50; 
    color: white;
}

.vertical-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}