{{#section 'title'}}
<title>Giỏ hàng</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/assets/css/introduction.css">
<link rel="stylesheet" href="/assets/css/cart.css">
{{/section}}


{{#section 'js'}}
	<script type="text/javascript" src="/assets/js/index.js"></script>
{{/section}}

<!-- Start Breadcrumb -->
<div class="bread-crumb">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/home">Trang chủ</a></li>
          <li>Giỏ hàng</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Cart -->
<div class="introduction-content">
  <div class="container">
    <div class="intro-title">
      <h1 class="title-head">
        GIỎ HÀNG
      </h1>
    </div>
  </div>

  <div class="cart-page">
    <div class="container">
      <p>Không có sản phẩm nào trong giỏ hàng. Quay lại <a href="/home">Cửa Hàng</a> để tiếp tục mua sắm.</p>
    </div>
    <div class="container hidden-xs hidden-sm">
      <div class="col-main cart-main">
        <div class="cart">
          <form class="formCart" action="" method="post" name="cartCar">
            <div class="bg-scroll">
              <div class="cart-thead">
                <div style="width: 17%">Ảnh sản phẩm</div>
                <div style="width: 33%">Tên sản phẩm</div>
                <div style="width: 15%">Đơn giá</div>
                <div style="width: 14%">Số lượng</div>
                <div style="width: 15%">Thành tiền</div>
                <div style="width: 6%">Xóa</div>
              </div>
              <div class="cart-tbody">
                <div class="item-cart">
                  <!-- <div class="car-image" style="width: 17%" data-name="Aston Martin DB11">
                    <a href="javascript:;" class="product-image" title="Aston Martin DB11">
                      <img src="./image/all/Aston Martin DB11.jpg" alt="Aston Martin DB11">
                    </a>
                  </div>
                  <div class="fix-flex" style="width: 33%" data-name="Aston Martin DB11">
                    <h2 class="car-name">
                      <a href="javascript:;" title="Aston Martin DB11">Aston Martin DB11</a>
                    </h2>
                  </div>
                  <div class="fix-flex" style="width: 15%" data-name="Aston Martin DB11">
                    <input type="hidden" name="price_Aston Martin DB11" value="4829000000">
                    <span class="item-price">4.829.000.000₫</span>
                  </div>
                  <div style="width: 14%" data-name="Aston Martin DB11">
                    <div class="input_qty_pr">
                      <button class="items-count btn-minus" type="button" name="minus_Aston Martin DB11">-</button>
                      <input class="number-sidebar" type="text" disabled="disabled" name="num_Aston Martin DB11" size="4" min="0" maxlength="12" value="2">
                      <button class="items-count btn-plus" type="button" name="plus_Aston Martin DB11">+</button>
                    </div>
                  </div>
                  <div class="fix-flex" style="width: 15%" data-name="Aston Martin DB11">
                    <input type="hidden" name="eachTotalPrice" value="4829000000">
                    <span class="total-price">4.829.000.000₫</span>
                  </div>
                  <div class="fix-flex" style="width: 6%; padding: 10px 0 6px; position: relative" data-name="Aston Martin DB11">
                    <a href="javascript:;" class="btn-remove remove-item" data-name="delete_Aston Martin DB11" title="Xóa"></a>
                  </div> -->
                </div>
              </div>
            </div>
          </form>
          <div class="cart-submit-desktop row">
            <div class="totals col-sm-7 col-md-5 col-xs-12 col-md-offset-7 col-sm-offset-5">
              <div class="inner">
                <table id="shopping-cart-totals-table">
                  <colgroup>
                    <col>
                    <col>
                  </colgroup>
                  <tfoot>
                    <tr>
                      <td colspan="1">
                        <h5><strong>Thanh toán</strong></h5>
                      </td>
                      <td style="text-align: right"></td>
                    </tr>
                    <tr style="border: none">
                      <td colspan="1">
                        <h5>Phí vận chuyển</h5>
                      </td>
                      <td style="text-align: right">
                        <h5>Tính lúc thanh toán</h5>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="1">
                        <h5>Tổng tiền</h5>
                      </td>
                      <td style="text-align: right">
                        <input type="hidden" name="totalprice" value="4829000000">
                        <span class="all-total-price">4.829.000.000₫</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <ul class="checkout clearfix">
                  <button class="btn btn-checkout" type="button" name="button-checkout" title="Tiến hành đặt hàng">Tiến hành đặt hàng</button>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-mobile hidden-md hidden-lg container">
      <form class="formCartMobile" action="" method="post" name="cartCar" style="margin-bottom: 0px; margin-top: 20px">
        <div class="cart-mobile-content">
          <div class="content-product-list">
            <!-- <div class="item-product" data-name="Aston Martin DB11">
              <div class="item-product-cart-mobile">
                <a href="javascript:;" title="Aston Martin DB11"><img src="./image/all/Aston Martin DB11.jpg" alt="Aston Martin DB11"></a>
              </div>
              <div class="title-product-cart-mobile">
                <h3><a href="javascript:;" title="Aston Martin DB11">Aston Martin DB11</a></h3>
                <p>Giá: <span class="item-price">4.829.000.000₫</span></p>
              </div>
              <div class="select-item-qty-mobile">
                <div class="txt_center">
                  <button class="items-count btn-minus" type="button" name="minus_Aston Martin DB11">-</button>
                  <input class="number-sidebar" type="text" disabled="disabled"  name="num_Aston Martin DB11" size="4" min="0" maxlength="12" value="2">
                  <button class="items-count btn-plus" type="button" name="plus_Aston Martin DB11">+</button>
                </div>
                <a href="javascript:;" class="btn-remove remove-item" title="Xóa"></a>
              </div>
            </div> -->
          </div>
          <div class="cart-price-mobile">
            <div class="title-cart-mobile">
              <h3 class="text-xs-left">Tổng tiền</h3>
              <span class="all-total-price text-xs-right">4.829.000.000₫</span>
            </div>
            <div class="checkout-mobile">
              <button class="btn btn-proceed-checkout-mobile" type="button" name="button-checkout">Tiến hành thanh toán</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Cart-->
