.image-part {
  position: relative !important;
}

.featured-image {
  width: calc(100% - 200px);
  /* margin: 0 auto; */
}

.details-product .large-image img {
  border: 1px solid #ebebeb;
  width: 100%;
}

.details-product h1.title-head, .product-description h1.title-head {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0 10px;
  color: #464646;
  line-height: 34px;
  padding-right: 200px;
}

.details-product #gallery_01 {
  width: 195px;
  max-width: 200px;
}

.more-views {
  max-width: 195px;
  height: 100%;
  position: absolute !important;
  right: 15px;
  top: 0;
}

.more-views .swiper-slide.bethua {
  align-items: center;
}

.more-views .swiper-slide {
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 20px !important;
}

.more-views a.thumb-link {
  display: block;
  padding: 10px;
  width: 100%;
}

.more-views img {
  max-height: 100%;
  width: 100%;
  display: inline-block;
}

.more-views img:hover {
  border: 2px solid #00a2d1;
}

.more-views .swiper-button-next {
  bottom: 0;
  top: auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  right: 66px;
  left: auto;
  text-align: center;
  background: #f4f4f4;
  opacity: 1 !important;
}

.more-views .swiper-button-prev {
  top: 22px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  right: 66px;
  left: auto;
  text-align: center;
  opacity: 1 !important;
  background: #f4f4f4;
}

.details-product .detail-header-info {
  margin-bottom: 20px;
  line-height: 25px;
}

.details-product .detail-header-info span, .details-product .detail-header-info b {
  font-size: 15px;
}

.details-product .detail-header-info table{
  border-collapse:separate;
border-spacing:0.2em;
}
.product-statistic {
  padding-bottom: 5px;
  border-bottom: solid 1px #ebebeb;
  border-top: solid 1px #ebebeb;
  padding-top: 5px;
  margin-top: 10px;
}

.statistic {
  padding: 15px 0px 15px;
  font-size: 16px;
  margin-left: -35px;
}

.statistic ul {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.statistic ul li {
  margin-bottom: 15px
}

.statistic li i {
  width: 25px;
  height: 12px;
  -webkit-filter: grayscale(100%) brightness(70%);
  filter: grayscale(100%) brightness(70%);
  vertical-align: middle;
  margin-right: 6px;
}

.kieudang {
  width: 19px;
  height: 11px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1731px no-repeat;
}

.ttp {
  width: 10px;
  height: 14px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1752px no-repeat;
  background-position-x: -10px;
  background-position-x: -5px;
}

.nhienlieu {
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1297px no-repeat;
}

.hopso {
  width: 10px;
  height: 14px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1827px no-repeat;
  background-position-x: -10px;
  background-position-x: -5px;
}

.mausac {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1580px no-repeat;
}

.socua {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1227px no-repeat;
}

.socho {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url("./image/icon.sprite.png") -10px -1604px no-repeat;
}

.details-product .form-detail-action {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.details-product .form-detail-action label {
  font-weight: 400;
  display: block;
  min-width: 80px;
  line-height: 40px;
  float: left;
  margin-bottom: 8px;
  margin-left: 15px;
}

.details-product .custom-btn-number {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
  margin-right: 5px;
  display: inline-block;
}

.details-product .custom-btn-number .qtyminus {
  position: absolute;
  left: 0;
  text-align: center;
  top: 0;
  width: 20px;
  height: 25px;
  line-height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #898989;
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: none;
  border: solid 1px #ebebeb;
  background-color: #ebebeb;
}

.details-product .custom-btn-number #qty {
  background: #f4f4f4;
  font-size: 1em;
  margin: 0;
  padding: 0 23px;
  width: 130px;
  text-align: center;
  height: 40px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #e1e1e1;
  max-width: 100%;
  display: block;
}

.details-product .custom-btn-number .qtyplus {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
  height: 25px;
  line-height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #898989;
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: none;
  border: solid 1px #ebebeb;
  background-color: #ebebeb;
}

.add-to-cart .btn {
  display: inline-block;
  height: 40px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  outline: none !important;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  margin-left: 10px;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.service-wrap {
  margin-top: 35px;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0px;
}

.service-wrap .icon {
  width: 60px;
  height: 45px;
  font-size: 31px;
  color: #000;
  float: left;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.service-wrap h5 {
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.description {
  padding: 20px;
  border: 1px solid #ebebeb;
  color: #333;
  height: auto;
}

#img01, #img02 {
  text-align: center;
}

#img01 img {
  width: 60%;
  margin: 20px 0;
}

#img02 img {
  width: 60%;
  margin: 15px 0;
  margin-bottom: 0;
}

#SameTypeProduct {
  width: auto;
  height: auto;
  margin-bottom: 60px;
}

.swiper-slide {
  height: auto !important;
}
