@media screen and (max-width: 1920px) {
  .search-main .products-view-grid .col-lg-3:nth-child(4n+1) {
      clear: left;
  }
}

@media screen and (max-width: 1280px) {
  .right-top-head {
    padding-top: 37px;
  }
}

@media screen and (max-width: 1200px) {
  .brand-box img
  {
    width: 80%;
  }

  #limousine
  {
    margin-top: 15px;
  }

  .search-main .products-view-grid .col-md-4:nth-child(3n+1) {
      clear: left;
  }
  .search-main .products-view-grid .col-lg-3:nth-child(4n+1) {
      clear: none;
  }
}

@media screen and (max-width: 1100px) {
  #SignUpModal .modal-dialog,
  #SignInModal .modal-dialog,
  #ForgetPassModal .modal-dialog
  {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .search-main .products-view-grid .col-md-4:nth-child(3n+1) {
      clear: none;
  }
}

@media screen and (max-width: 990px) {
  .right-top-head {
    padding-top: 29px;
    font-size: 14px;
  }
  .newestInfo {
    width: 92.4%;
    left: 3%;
    height: 384px;
  }
  .infoNew {
    height: 384px;
  }
  .newest {
    left: 3%;
  }
  .introduction .info {
    width: 100%;
    float: none;
    height: auto;
    padding: 30px 15px;
  }
  .introduction .info::after {
    display: none;
  }

  .introduction .image-home {
    width: 100%;
    float: none;
    height: auto;
  }

  .brand-box img
  {
    width: 100%;
  }

  #bmw
  {
    width: 60%;
  }

  #limousine
  {
    margin-top: 10px;
  }

  .cart-page
  {
    /* margin-top: -40px; */
    min-height: auto !important;
  }

  #img01 img, #img02 img
  {
    width: 80%;
  }

  .search-main .products-view-grid .col-sm-6:nth-child(2n+1) {
      clear: left;
  }

}

@media screen and (max-width: 770px) {
  .right-nav-text {
    display: inline;
    margin-top: 15px;
    margin-right: 10px;
  }
  .right-nav-text a {
    color: white !important;
  }
  .right-nav-text a:hover {
    color: #0076DB !important;
  }
  .left-top-head {
    display: none;
  }
  .right-top-head {
    display: none;
  }
  .center {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-left: 50px;
  }
  #logo {
    width: 80%;
  }

  .SearchFieldHid
  {
    display: block;
  }

  .drop-down:hover .dropdown-content {
    display: none;
  }

  #prod
  {
    display: none;
  }

  #prodHid
  {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  #newestCar {
    width: 92.4%;
  }

  .cartCount
  {
    top: 72%;
    right: 0;
    left: 33px;
  }

  #img01 img, #img02 img
  {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  #newestCar {
    height: 468px;
  }
}

@media screen and (max-width: 720px) {
  #newestCar {
    height: 448px;
  }
  .search-main select
  {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  #newestCar {
    height: 428px;
  }

  #SignUpModal .modal-dialog,
  #SignInModal .modal-dialog,
  #ForgetPassModal .modal-dialog
  {
    width: auto;
  }
}

@media screen and (max-width: 650px) {
  .search-main select
  {
    width: 40%;
    margin-top: 20px;
    margin-left: 0;
  }

  .search-main select[name="SearchWithBrand"]
  {
    margin-left: 15px;
  }
}

@media screen and (max-width: 585px) {
  .search-main .products-view-grid .col-xs-6
  {
    clear: left;
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .newest {
    height: auto !important;
  }
  .infoNew {
    height: auto !important;
  }
}

@media screen and (max-width: 515px) {
  .btn-cart{
    margin-left: 93px;
  }
}

@media screen and (max-width: 460px) {
  .someNewProducts
  {
    margin-top: 60px;
  }
}

@media screen and (max-width: 455px) {

  .someNewProducts
  {
    margin-top: 80px;
  }

  .search-main select
  {
    clear: both;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 403px) {
  .someNewProducts
  {
    margin-top: 95px !important;
  }

  .ileft
  {
    width: 100% !important;
  }
}

@media screen and (max-width: 353px) {
  .someNewProducts
  {
    margin-top: 155px !important;
  }
}

@media screen and (max-width: 333px) {
  .someNewProducts{
    margin-top: 175px !important;
  }
}

@media screen and (max-width: 303px) {

  .someNewProducts{
    margin-top: 200px !important;
  }
}
