.cart-page
{
  min-height: 250px;
}

.col-main
{
  float: none;
width: auto;
min-height: auto;
}

.col-main p a
{
  text-decoration:  none;
}

.cart-page > p:first
{
  display: block;
}

.formCart
{
  margin-bottom: 30px;
}

.cart{
  display: none;
}
.cart .bg-scroll {
    overflow: hidden;
    border: 1px solid #ebebeb;
    border-bottom: none;
}

.cart .cart-thead {
    background: #e1e1e1;
    font-weight: bold;
    font-size: 13px;
    clear: both;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
    border-left: none;
    float: left;
    min-width: 600px;
}

.col-main .cart .cart-thead div {
    float: left;
    padding: 15px 0px;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.cart .cart-tbody {
    width: 100%;
    float: left;
}

.cart .cart-tbody .item-cart {
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left;
}

.col-main .cart .cart-tbody .item-cart div {
    float: left;
    padding: 20px 10px;
    line-height: 20px;
    vertical-align: top;
    height: 135px;
    overflow: hidden;
}

.col-main .cart .cart-tbody .item-cart .product-image {
    min-height: 75px;
    display: block;
    height: 100%;
    width: auto;
    padding: 0 20px;
}

.col-main .cart .item-cart .car-image .product-image img {
    width: auto;
    max-width: 100%;
    height: 100%;
}

.col-main .cart .cart-tbody .item-cart div.fix-flex {
   display: inline-grid;
   align-items: center;
   text-align: center;
}

.col-main .cart .cart-tbody .item-cart div .car-name {
    margin: 0;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.car-name a
{
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.car-name a:hover
{
  color: #00a2d1;
}

.item-price, .total-price, .all-total-price
{
  color: #00a2d1;
  font-size: 16px;
}

.col-main .cart .cart-tbody .item-cart div.input_qty_pr {
    height: auto;
    border-right: none;
    width: 70px;
    margin-top: 15px;
    padding: 20px 0px 0px 0px;
    transform: translateX(50%);
    /* transform: translateY(44%); */
}

.col-main .cart .cart-tbody .item-cart .input_qty_pr .items-count {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    height: 24px;
    width: 24px;
    /* line-height: 18px; */
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
    float: left;
    transform: translateY(0px);
}

.col-main .cart .item-cart .number-sidebar {
    border: 1px solid #ddd;
    height: 24px;
    margin-left: -1px;
    text-align: center;
    width: 23px;
    margin-right: -1px;
    padding: 0;
    line-height: 15px;
    float: left !important;
    min-height: 0;
    position: static;
    display: inline-block;
    margin-bottom: 0;
}

a.remove-item {
    color: #333;
    padding: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    float: left;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border: none;
    background-color: #fff;
    background-image: url('../../image/bin.png');
    width: 22px;
    height: 26px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-remove {
    outline: none;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.totals .inner {
    padding: 4px 0 15px;
    margin-top: 0;
}

#shopping-cart-totals-table {
   float: right;
   width: 100%;
   padding-bottom: 8px;
   background: #fff;
   border-collapse: collapse;
   border-spacing: 0;
   max-width: 100%;
   margin-bottom: 20px;
}

#shopping-cart-totals-table h5 {
   font-size: 1.14286em;
}

#shopping-cart-totals-table tr {
    border-bottom: 1px solid #ebebeb;
}

#shopping-cart-totals-table tr td {
   border: none;
   text-align: left;
}

.checkout
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.col-main .cart .btn-checkout {
    background: #00a2d1;
    line-height: 35px;
    color: #fff;
    height: 50px;
    font-size: 16px;
    border: none;
    padding: 0 50px;
    float: right;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 600;
}

/* Responsive mobile cart */
.cart-mobile
{
  padding: 10px 0px 0px 0px;
  display: none;
}

.cart-mobile-content
{
  margin-top: 10px;
  background-color: white;
}

.cart-mobile-content .content-product-list
{
    min-height: 110px;
}

.content-product-list .item-product {
    padding: 15px 15px;
    min-height: 110px;
    border-bottom: solid 1px #ebebeb;
    overflow: hidden;
}

.item-product-cart-mobile {
    max-width: 115px;
    margin-right: 10px;
    float: left;
}

.item-product-cart-mobile img {
    max-width: 115px;
    margin-right: 10px;
}

.item-product .title-product-cart-mobile {
    max-width: 150px;
    float: left;
}

.title-product-cart-mobile {
    margin-left: 10px;
}

.title-product-cart-mobile h3 {
    line-height: 1;
    margin: 0;
}

.title-product-cart-mobile a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #363636;
    text-decoration: none;
    transition: 0.2s;
}

.title-product-cart-mobile a:hover {
    color:  #00a2d1;
}

.title-product-cart-mobile p {
    line-height: 2;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #898989;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
    position: relative;
}

.select-item-qty-mobile a {
    top: 45px !important;
}

.select-item-qty-mobile > div {
    position: relative;
    width: 68px;
    height: 25px;
}

.select-item-qty-mobile .txt_center button.items-count.btn-minus
{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 23px;
    padding: 0;
    height: 25px;
    display: inline-block;
    line-height: 1;
    border-style: hidden;
    color: #fff;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
}

.select-item-qty-mobile .txt_center input {
    height: 25px;
    width: 24px;
    text-align: center;
    margin: 0px;
    padding: 0;
    position: absolute;
    left: 22px;
    min-height: 0;
    max-width: 100%;
    display: block;;
    border: 1px solid #e1e1e1;
}

.select-item-qty-mobile .txt_center button.items-count.btn-plus {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 23px;
    padding: 0;
    height: 25px;
    display: inline-block;
    line-height: 1;
    border-style: hidden;
    color: #fff;
    background: none !important;
    color: #000;
    border: solid thin #ddd;
}

.cart-price-mobile {
    padding: 22px 15px;
}

.title-cart-mobile
{
  margin-bottom: 30px;
}
.cart-price-mobile .title-cart-mobile h3
{
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  float: left;
  margin: 0;
}

.title-cart .total-price, {
    float: none;
    margin-top: -28px;
    color: #00a2d1;
    font-size: 16px;
    line-height: 27px;
    font-family: Arial, sans-serif;
    float: right;
}

.all-total-price
{
  margin: 0;
}

.btn-proceed-checkout-mobile {
    width: 100%;
    line-height: 27px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    border: none;
    background: #00a2d1;
    font-weight: 600;
}

.btn-proceed-checkout-mobile:hover {
    color: #fff;
}

.text-xs-right
{
  float: right;
}
