{{#section 'title'}}
	<title>Thông tin cá nhân</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/assets/OwlCarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/OwlCarousel/dist/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="/assets/css/userInformation.css">
{{/section}}

{{#section 'js'}}
	<script type="text/javascript" src="/assets/js/index.js"></script>
	<script src="/assets/OwlCarousel/dist/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/assets/js/userInformation.js"></script>
{{/section}}

  <!-- Start Body -->  
  <div class="container" style="margin-top: 50px">
        <div class="row">

            <!--  Left content   -->

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default" style="border-color: #00a2d1">
                    <div class="panel-heading" style="background-color: #ddd;">
                        <h3 class="panel-title" style="text-align: center; font-weight: bold;">Thông tin khách hàng</h3>
                    </div>
                    <ul class="vertical-menu">
                        <li><a class="active" href="javascript:;" id="infoUser">Thông tin cơ bản</a></li>
                        <li><a href="javascript:;" id="historyBuying">Lịch sử mua hàng</a></li>
                    </ul>
                </div>
            </div>

            <!--  Right content   -->

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div class="panel panel-primary" style="border-color: #00a2d1;"> 
                    <div class="panel-heading" style="background-color: #00a2d1; border-color: #00a2d1;"> 
                        <h3 class="panel-title" style="text-align: center" id="infoName">                            
                        </h3> 
                    </div> 
                    <div class="panel-body" style="margin-bottom: 20px;" id="BodyInfo"> 

                        <!--  InfoUser   -->
                        <div id="InfoUser">
                            <div class="page-header" style="margin-top: 0px;">
                                <h3 style="margin: 0;">Thông tin cá nhân</h3>
                            </div>
                            <!--  Info1   -->
                            <div class="row" style="padding-top: 8px; font-size: 18px;">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 douDots">Họ và tên</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="realName">Nguyễn Văn A</div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                    <a href="javascript:;" data-toggle="modal" data-target="#editNameModal" id="editNameBtn"><span class="fas fa-edit" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <!--  Info2   -->
                            <div class="row" style="padding-top: 30px; font-size: 18px;">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 douDots">Password</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="passWord">******</div>     
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="editPassBtn">
                                    <a href="javascript:;" data-toggle="modal" data-target="#editPassModal" id="editPassBtn"><span class="fas fa-edit" aria-hidden="true"></span></a>
                                </div>
                            </div>
                            <!--  Info3   -->
                            <div class="row" style="padding-top: 30px; font-size: 18px;">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 douDots">Số điện thoại</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="passWord">09xx xxxx xxx</div>        
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="editSdtBtn">
                                    <a href="javascript:;" data-toggle="modal" data-target="#editPhoneModal" id="editSDTBtn"><span class="fas fa-edit" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        
                        <!--  HistoryBuying   -->
                        <div id="HistoryBuying" style="display: none">
                            <div class="page-header" style="margin-top: 0px;">
                                <h3 style="margin: 0;">Danh sách hóa đơn</h3>
                            </div>
                            <div class="panel-heading">
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã hóa đơn</th>
                                        <th>Ngày đặt hóa đơn</th>
                                        <th>Số lượng xe</th>
                                        <th>Tổng giá tiền</th>
                                        <th>Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody id="danhsach">
                                    <tr>
                                        <td><a href="javascript:;" data-toggle="modal" data-target="#billDetail" class="billDetailBtn">#001</a></td>
                                        <td>24/14/2017</td>
                                        <td>2</td>
                                        <td>xxx</td>
                                        <td>Đã thanh toán</td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:;" data-toggle="modal" data-target="#billDetail" class="billDetailBtn">#002</a></td>
                                        <td>20/02/2018</td>
                                        <td>1</td>
                                        <td>yyy</td>
                                        <td>Chưa thanh toán</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
  </div>
  <!-- End Body -->
  
  <!-- Start Edit IDname modal -->
  <div id="editIDNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thay đổi tên tài khoản</h4>
        </div>
        <div class="modal-body">
          <form class="" action="" method="post" name="EditIDName">
            <div class="form-group">
              <label for="IDName">Tên mới</label>
              <input type="text" class="form-control" id="txtIDName" placeholder="" name="IDName">
            </div>
            <div class="text-center">
              <button id="btnEI" class="btn btn-SignIn" type="button" name="button-editName">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Edit IDname modal -->
  
  <!-- Start Edit name modal -->
  <div id="editNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thay đổi tên khách hàng</h4>
        </div>
        <div class="modal-body">
          <form class="" action="" method="post" name="EditName">
            <div class="form-group">
              <label for="Name">Họ và tên mới</label>
              <input type="text" class="form-control" id="txtRealName" placeholder="" name="Name">
            </div>
            <div class="text-center">
              <button id="btnEN" class="btn btn-SignIn" type="button" name="button-editName">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Edit name modal -->
  
  <!-- Start Edit pass modal -->
  <div id="editPassModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thay đổi mật khẩu</h4>
        </div>
        <div class="modal-body">
          <form class="" action="" method="post" name="EditPass">
            <div class="form-group">
              <label for="OldPass">Mật khẩu cũ</label>
              <input type="password" class="form-control" id="txtUserOldPass" placeholder="" name="OldPass">
            </div>
            <div class="form-group">
              <label for="NewPass">Mật khẩu mới</label>
              <input type="password" class="form-control" id="txtUserNewPass" placeholder="" name="NewPass">
            </div>
            <div class="form-group">
              <label for="ReNewPass">Nhập lại mật khẩu mới</label>
              <input type="password" class="form-control" id="txtUserReNewPass" placeholder="" name="ReNewPass">
            </div>
            <div class="text-center">
              <button id="btnEP" class="btn btn-SignIn" type="button" name="button-editName">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Edit pass modal -->
  
  <!-- Start Edit phone modal -->
  <div id="editPhoneModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thay đổi số điện thoại</h4>
        </div>
        <div class="modal-body">
          <form class="" action="" method="post" name="EditPhone">
            <div class="form-group">
              <label for="OldPhone">Số điện thoại cũ</label>
              <input type="text" class="form-control" id="txtOldPhone" placeholder="" name="OldPhone">
            </div>
            <div class="form-group">
              <label for="NewPhone">Số điện thoại mới</label>
              <input type="text" class="form-control" id="txtNewPhone" placeholder="" name="NewPhone">
            </div>
            <div class="text-center">
              <button id="btnEPh" class="btn btn-SignIn" type="button" name="button-editName">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Edit phone modal -->
  
  <!-- Start Edit phone modal -->
  <div id="billDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thông tin chi tiết hóa đơn</h4>
        </div>
        <div class="modal-body">
            <form class="" action="" method="post" name="EditPhone">
                <div class="form-group">
                    <div class="owl-carousel owl-theme" id="sliderDS">
<!--                        <div class="item">
                            <div class="containerUI">
                                <div class="imageUI"><img src="./image/BestSeen/Aston Martin DB11.jpg" alt="Aston Martin DB11"></div>

                                <a type="button" class="button square hvr-rectangle-out middleUI" name="Detail" id="DetailBtn">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>-->
                        <!--<div class="item imageUI"><img src="./image/BestSeen/BMW 4 Series Convertible.jpg" alt="BMW 4 Series Convertible"></div>-->
                    </div>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Edit phone modal -->
 
